<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        
        <activity android:name=".LoginActivity1"
            android:taskAffinity="com.example.myapplication.login"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <activity android:name=".LoginActivity2"
            android:taskAffinity="com.example.myapplication.login">
            
        </activity>
        
        <activity android:name=".LoginActivity3"
            android:taskAffinity="com.example.myapplication.login">
            
        </activity>
        
        <activity android:name=".CalendarActivity1">
            
        </activity>
        
        <activity android:name=".CalendarActivity2">
            
        </activity>
        
        <activity android:name=".ReadActivity">
            
        </activity>
        <activity android:name=".RegActivity">
            
        </activity>
        <activity android:name=".UpdateActivity">
            
        </activity>
        <activity android:name=".AlarmSettingActivity">

        </activity>
    </application>

</manifest>